* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    margin: 0 auto;
    max-width: 100%;
}
.row {
    display: flex;
    flex-wrap: wrap;
}
h2 {
    margin: 20px;
}
[class*="col"] {
    background-color: rgb(82, 108, 29);
    border: 1px solid white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.col-1 {
    flex-basis: calc((100% / 12) * 1);
}